* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overscroll-behavior: none;
  /* 스크롤 할 때 bounce 현상 없애줌 */
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overscroll-behavior: none;
}

.progress-bar-normal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(37, 34, 34);
}
.progress-bar-normal {
  width: 0;
  height: 100%;
  background-color: rgb(151, 28, 28);
}
.progress-bar-round-container {
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  height: 200px;
  border: 2px dashed red;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
canvas {
  border: 1px dashed blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* 원형 찌그러지지않게!!! */
}
.p-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 50px;
  color: rgb(177, 177, 177);
}
